# Virtual Environment
.venv/
env/
venv/

# Market Data Files
data/*.dbn*
data/*.zst
*.dbn
*.zst

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
scratch/
